body {
	width: 100%;
	height: 500px;
	background-color: #3399FF;
}

body > *, h2 {
	margin-left: auto;
	margin-right: auto;
}

img {
	height: 35px;
	display: block;
	margin-top: 20px;
}

p, a {
	text-align: center;
	color: white;
}

div {
	width: 400px;
	background-color: white;
}

form > * {
	display: block;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 10px;
	font-family: "Arial",sans-serif;
	font-size: 14px;
}

input, button {
	padding: 15px;
}

input {
	width: 286px;
	border: 2px solid gray;
}

button {
	width: 320px;
	background-color: green;
	color: white;
}

button:hover {
	background-color: #005500;
}

h1 {
	text-align: center;
	padding-top: 30px;
}